<%= flash[:notice] %>

<div class="container">

  <div class="row">

    <div class="col">

      <h1 class="mt-4 mb-4">ジャンル編集</h1>

    </div>

  </div>

  <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>

  <div class="form-group">

    <%= f.label "ジャンル名" %></br>
    <%= f.text_field :name %></br>

  </div>

  <div class="form-group">

    <%= f.submit "保存", class: "btn btn-outline-success mr-4" %>

    |

    <%= link_to "Back", admin_genres_path, class: "btn btn-outline-info ml-4" %>

  </div>

<% end %>