<%= flash[:notice] %>

<div class="container">

  <h1 class="mt-4 mb-4">ジャンル一覧・追加</h1>

  <div class="row text-center">

    <div class="col-md-12 mt-4">

      <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>

      <div class="form-group">

        <%= f.label :name, "ジャンル名", class: "mr-4 mb-3" %>

        <%= f.text_field :name, id: "form", class: "mr-4" %>

        <%= f.submit "追加", class: "btn btn-outline-success py-1" %>

      </div>

      <% end %>

      <table class="table">

        <thead>

          <tr>

            <th>ジャンル</th>
            <th></th>

          </tr>

        </thead>

        <tbody>

          <%= render "genres", genre: @genres %>

        </tbody>

      </table>

    </div>

  </div>

</div>