<h1 class="mt-4 mb-2 text-center">商品詳細</h1>

<table class="table">

  <tr>

    <td>商品詳細</td>
    <td><%= @item.name %></td>

  </tr>

  <tr>

    <th>商品画像</th>

    <td><%= image_tag @item.get_image(150,150) %></td>

  </tr>

  <tr>

    <th>商品説明</th>

    <td><%= @item.introduction %></td>

  </tr>

  <tr>

    <th></th>

    <td>

      <% if @item.is_active == true %>

        ￥<%= @item.tax_price %>(税込)

        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

          <%= f.hidden_field :item_id, value: @item.id %>

          <%= f.label :数量 %>

          <%= f.select :amount, (1..10).to_a, include_blank: "個数選択" %></br>

          <%= f.submit "カートに入れる" %>

        <% end %>

      <% else %>

        SOLD OUT

      <% end %>

    </td>

  </tr>

</table>
