<p id="alert", class="text-danger mt-3 ml-3 mb-3 mb-3"><%= alert %></p>

<h1 class="mt-5 mb-4 text-center">商品詳細</h1>

<div class="text-center">

    <h6 class="font-weight-bold"><%= @item.name %></h6>

    <p><%= image_tag @item.get_image(150,150) %></p>


    <h5 class="font-weight-bold">商品説明</h5>

    <p><%= @item.introduction %></p>

    <p>

      <% if @item.is_active == true %>

        ￥<%= @item.tax_price %>(税込)

        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

          <%= f.hidden_field :item_id, value: @item.id %>

          <%= f.label :数量, class: "h5" %>

          <%= f.select :amount, (1..10).to_a, include_blank: "個数選択" %></br>

          <%= f.submit "カートに入れる", class: "btn btn-secondary mt-2 mb-2" %>

        <% end %>

      <% else %>

        SOLD OUT

      <% end %>

      </p>

    </div>
