<header>

  <% if admin_signed_in? %>

    <%= link_to "NaganoCake", admin_path %>

  <% else %>

    <%= link_to "NaganoCake", root_path %>

  <% end %>

  <ul>

    <% if customer_signed_in? %>

    <li>
      <%= link_to "My Page", customer_path(current_customer) %>
    </li>

    <li>
      <%= link_to "商品一覧", root_path %>
    </li>

    <li>
      <%= link_to "カート", root_path %>
    </li>

    <li>
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
    </li>

  <% elsif admin_signed_in? %>

    <li>
      <%= link_to "商品一覧", admin_path %>
    </li>

    <li>
      <%= link_to "注文履歴一覧", admin_path %>
    </li>

    <li>
      <%= link_to "ジャンル一覧", admin_path %>
    </li>

    <li>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </li>

  <% else %>

    <li>
      <%= link_to "About", about_path %>
    </li>

    <li>
      <%= link_to "商品一覧", root_path %>
    </li>

    <li>
      <%= link_to "新規登録", new_customer_registration_path %>
    </li>

    <li>
      <%= link_to "ログイン", new_customer_session_path %>
    </li>

  <% end %>

  </ul>

</header>